// Color Palette
//-------------------------------------------------

$blue_dark: #0C5D99;
$blue_light: #E7F3FF;
$blue_bright: #019EE6;
$orange-dark: #E15A34;
$orange-light: #E6A457;
$orange-washed: #FFDAB9;
$white: #FFF;
$grey: #525861;


// Mixins @ Extend
//-------------------------------------------------

@mixin auto-margin {
	margin-right: auto;
	margin-left: auto;
}
@mixin button-mob {
	background: $white;
	color: $blue_dark;
	width: 100%;
	display: block;
	padding: .85em;
	border: none;
	border-radius: 5px;
	transition: background 0.30s ease-in-out, color 0.30s ease-in-out;
	&:hover {
		background: rgba($blue_dark, .65);
		color: $white;
	}
}
@mixin button-web {
	min-width: 15em;
	width: 31.25%;
	display: inline;
	margin: 1em .2em;
}
@mixin input {
	transition: border 0.25s ease-in-out, box-shadow 0.3s ease-in-out;
	background: lighten($blue_dark, 55%) url(../img/Search.svg) no-repeat 1em center;
	color: $grey;
	width: 100%;
	padding: .85em .85em .85em 3em;
	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow: none;
	outline: none;
    -webkit-appearance: none;
	&:hover {
		border: 1px solid rgba($blue_bright, .4);
	}
	&:focus {
		outline: none;
		border: 1px solid rgba($blue_bright, .5);
		box-shadow: 0 0 8px rgba($blue_bright, .4);
	}
}

@mixin placeholder {
	&::-webkit-input-placeholder {
    	color: rgba($blue_dark, .6);
    	font-weight: 300;
	}
	&:focus::-webkit-input-placeholder {
	    color: rgba($blue_dark, .25);
	}
}

@mixin sti-footer {
	position: absolute;
   	bottom: 0;
   	width: 100%;
   	// -webkit-appearance: none;
}

@mixin default-a {
	text-decoration: none;
	&:link, &:hover, &:visited, &:active {
		color: $blue_dark;
	}
}

// General Style
//-------------------------------------------------

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 190px;
	background-color: $blue_light;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: $grey;
}

h1 {
	font-weight: 700;
	font-size: 1.85em;
}

h2 {
	font-weight: 700;
	font-size: 1.25em;
	color: $blue_dark;
}

h3 {
	font-weight: 700;
	font-size: .85em;
	color: $blue_dark;
}

a {
	text-decoration: none;
}

// Header
//-------------------------------------------------

header {
	background: $white;
}
.header-inner {
	max-width: 800px;
	margin: 0 auto;
	background: $white;
	padding: .75em;
	.main-logo {
		width: 90px;
		border-right: 1px solid $blue_dark;
		padding: 0 .75em .25em 0;
		margin: 0 .5em;
		float: left;
	}
	.button-chat {
		display: none;
	}
	h3 {
		float: left;
		margin: .65em 0 0 .4em;
		// display: inline;
		// vertical-align: top;
	}
	.light-font {
		font-weight: 300;
		// vertical-align: top;
	}
	a {
		@include default-a;
	}
}

// Main Body Sections
//-------------------------------------------------

#top-priority {
	background-image: url(../img/type-away-mono.jpg); 
	background-color: $orange-light;
	background-size: 1065px 660px;
	// background-size: cover;
	background-position: 18% 20%;
	a, p, h1, h2 {
		span {
			color: $orange-washed;
		}
		font-weight: 700;
		color: $white;
	}
	.urgent-phone {
		margin: .5em;
	}
	h2 {margin: 0 auto 1.5em auto;}
	.urgent, .request{
		text-align: center;
		padding: 30px;
	}
	.urgent {
		border-bottom: 1px solid $orange-washed;
	}
	.request-portal {
		margin: 10px auto;
	}
	button {
		@include button-mob;
		margin: 10px auto;
	}
}

#sec-priority {
	padding-bottom: 30px;
	.walk-up, .search {
		padding: 15px 30px;
	}
	.map{
		width: 100%;
		height: auto;
		border-bottom: 1px solid rgba($blue_bright, .3);
	}
	.bold-info {
		font-weight: 700;
		color: $blue_bright;
	}
	.search-icon {
		float: left;
	}
	.all-link {
		background: url(../img/Caret.svg) no-repeat -2px center;
		padding-left: 1.25em;
	}
	#search-home {
		@include input;
		@include placeholder;
		margin: 10px 0 10px -1px;
	}
	.search--box {
		a{
			border-bottom: 1px solid transparent;
			color: $blue_dark;
			font-weight: 300;
			opacity: 0.75;
			text-decoration: none;
			&:hover {
				color: $blue_bright;
				border-color: $blue_bright;
			}
			transition: color 0.25s ease-in-out, border 0.25s ease-in-out;
		}
	}
}


// Footer
//-------------------------------------------------

.footer{
	@include sti-footer;
	padding: 20px 0;
	color: $blue_light;
	background: $grey;
	a{
		color: $blue_light;
		&:hover{
			color: $orange-light;
		}
		transition: color 0.25s ease-in-out;
	}
	ul {
	   	list-style-type: none;
	   	font-weight: 300;
	   	font-size: .85em;
	   	li {
	   		margin-bottom: 0.6em;
	   	}
	}
}


// Media Queries
//-------------------------------------------------

@media (min-width: 768px) {
	body {
		margin: 0 0 80px;
	}
	.header-inner {
		height: 100px;
		padding-top: 1.75em;
		position: relative;
		.main-logo {
			width: 138px;
			border-right: 1px solid $blue_dark;
			padding-right: 2em;
			margin: 0 2em;
			float: left;
		}
		a {
			@include default-a;
		}
		.button-chat {
			@include button-mob;
			width: 8em;
			padding: .65em;
			border: 1px solid rgba($blue_bright, .5);
			position: absolute;
			top: 2.2em;
			right: 0;
		}
		h3 {
			font-size: 1em;
			float: none;
			margin-top: .5em;
		}
		.light-font {
			margin-top: 0;
		}
	}
	#top-priority {
		background-size: cover;
		h1, h2 {
			margin-bottom: 0.5em;
		}
		.urgent {
			border: none;
		}
		.urgent-phone {
			display: inline;
			// border: 1px solid;
			padding: .3em .65em;
			margin: .5em 0;
			font-size: 1.25em;
			font-weight: 400;
		}
		.ver-ln {
			border-right: 1px solid $orange-washed;
		}
		.request--portal {
			max-width: 786px;
			margin: 1.5em auto 1em auto;
			background: rgba($white, .25);
			}
		button {
			@include button-web;
		}
	}
	#sec-priority {
		max-width: 786px;
		margin: 0 auto;
		.walk-up, .search--text {
			width: 45%;
			float: left;
			padding: 0;
			margin: 30px 35px 40px 25px;
		}
		.map, .search--box {
			width: 45%;
			float: left;
			margin-top: 36px;
			border-bottom: none;
		}
		.search {
			clear: left;
			padding: 0px;
			border-top: 1px solid rgba($blue_bright, .3);
		}
	}
	.footer {
		@include sti-footer;
		padding-top: 1.625em;
		clear: left;
		text-align: center;
		font-size: 1em;
		// display: table;
		height: 6em;
		ul {
			// display: table-cell;
			vertical-align: middle;
			padding-left: 0px;
			li {
			display: inline;
			padding: 1em 1em;
			}
		}
	}

}

